.home_container{
    width: 100%;
    height: 500px;
    background-color:#c5e4d3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_text{
    width: 800px;
    text-align: justify;
}