.contacts_container{
    width: 100%;
    height: 100vh;
    background-color:#eaf4d5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contacts_text{
    width: 800px;
    text-align: justify;
}
